<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="static/css/style.css?v={{ version }}?">
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/base64.min.js"></script>
    <script src="static/js/socket.io/socket.io.js"></script>
    <script src="static/js/socket.io/socket.io-stream.js"></script>
    <script src="static/js/echarts.min.js"></script>
    <script>
        Date.prototype.Format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "H+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
</head>

<body>

<div class="main">
    <div class="page_top">
        <div class="page_tit">id: {{ id }}</div>
        <div class="df_tabs">
            <a id="logout" href="logout">Logout</a>
        </div>
    </div>
    <div>
        <form action="/upload" id="form" method="post" enctype=multipart/form-data>
            <div>
                <div id="choose_button"></div>
                <input id="upload_file" type=file name="image"
                       onchange="upload_img()">
                <!--                <span id="upload_result" style="margin-left: 20px"></span>-->
            </div>
        </form>
    </div>

</div>
<br>
<img id="upload_result" style="margin-top: 30px;">
<div id='mask'
     style='display: none;align-items: center;text-align: center;width: 100%;height: 100%;background: gray;position: absolute;top: 0;left: 0;z-index: 100;opacity: 0.6'></div>
<div id='loading' style="display: none;position: absolute;left: 50%;top: 50%;z-index: 101">
    <p>processing...<img src='static/img/loading.gif'></p>
</div>
<canvas style="display: none" id="temp_canvas"></canvas>
</body>
<script>
    $(function () {
        var hn_nav = $(".df_tabs .tabitem");
        var hn_item = $(".data_row dt");
        hn_nav.eq(0).addClass('active');
        hn_item.eq(0).addClass('active');
        hn_nav.on('click', function () {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
            var open = $(this).index();
            hn_item.eq(open).siblings().removeClass('active');
            hn_item.eq(open).addClass('active');
        });
    });
</script>
<script>
    var user_id = '{{ id }}';
    var socket;

    function randomString(len) {
        len = len || 32;
        var $chars = 'abcdefghijklmnopqrstuvwxyz_-ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        /****默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1****/
        var maxPos = $chars.length;
        var pwd = '';
        for (i = 0; i < len; i++) {
            pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
        }
        return pwd;
    }

    function showWin() {
        document.getElementById('mask').style.display = 'block';
        document.getElementById('loading').style.display = 'block';
    }

    function hideWin() {
        document.getElementById('mask').style.display = 'none';
        document.getElementById('loading').style.display = 'none';
    }

    function socketio_upload() {
        try {
            $('#upload_file').attr("disabled", true);
            showWin();

            let file = $("#upload_file")[0].files[0];
            let file_name = file.name
            let file_type = file_name.substring(file_name.lastIndexOf('.') + 1)

            let socket2 = io.connect(location.origin + '/img_ocr?uid=' + user_id + '&mode=upload&ft=' + file_type);
            socket2.on('connect', function () {
                console.log("websocket connect succeed");
                // let stream = ss.createStream();
                // let d = [new Date().Format("yyyy-MM-dd_HH:mm:ss"), stream];
                // ss(socket2).emit('recv', d);
                // ss.createBlobReadStream(d).pipe(stream);
                socket2.emit('recv', [new Date().Format("yyyy-MM-dd_HH:mm:ss"), file]);
            });
            socket2.on('connect_error', function () {
                alert('websocket connect_error')
            });
            socket2.on('disconnect', function () {
                $('#upload_file').attr("disabled", false);
            });
            socket2.on('show_res', function (res) {
                try {
                    let data = res[0]
                    let reader = new FileReader();
                    let preview = document.getElementById('upload_result');
                    reader.addEventListener("load", function () {
                        preview.src = reader.result;
                    }, false);

                    if (data) {
                        let blob = new Blob([data], {type: 'data:image/jpeg;'});
                        reader.readAsDataURL(blob);
                    }
                } catch (e) {
                    console.log(e)
                    alert('read image data error')
                }
                socket2.disconnect();
                hideWin();
                $('#upload_file').attr("disabled", false);
            });
        } catch (e) {
            hideWin();
            $('#upload_file').attr("disabled", false);
        }
    }

    function upload_img() {
        $('#upload_file').attr("disabled", true);
        let file = $("#upload_file")[0].files[0];
        let file_name = file.name;
        let file_type = file_name.substring(file_name.lastIndexOf('.') + 1);
        let sid = randomString(20);

        showWin();
        try {
            let form = new FormData();
            form.append("img_data", file);
            form.append("start_record_time", new Date().Format("yyyy-MM-dd_HH:mm:ss"));
            form.append("file_type", file_type);
            form.append("sid", sid);
            form.forEach((value, key) => {
                console.log("key %s: value %s", key, value);
            })
            $.ajax({
                type: 'POST',
                url: "/upload",
                data: form,
                async: false,
                processData: false,   // 不处理发送的数据
                contentType: false,   // 不设置请求头
                success: function (res) {
                    try {
                        console.log(res);
                        res = JSON.parse(res)
                        // let data = res['res_img']
                        // let reader = new FileReader();
                        // let preview = document.getElementById('upload_result');
                        // reader.addEventListener("load", function () {
                        //     preview.src = reader.result;
                        // }, false);
                        //
                        // if (data) {
                        //     let blob = new Blob([Base64.decode(data)], {type: 'data:image/jpeg;'});
                        //     reader.readAsDataURL(blob);
                        // }
                        $('#upload_result').attr("src","data:image/" + file_type + ";base64,"+res['res_img']);
                    } catch (e) {
                        console.log(e)
                        alert('read image data error')
                    }
                    hideWin();
                    $('#upload_file').attr("disabled", false);
                },
                error: function (data) {
                    console.error(data);
                    hideWin();
                    $('#upload_file').attr("disabled", false);
                }
            });
        } catch (e) {
            hideWin();
            $('#upload_file').attr("disabled", false);
        }
    }

</script>
</html>