<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>camera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="static/css/layui.css">
    <script src="static/js/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="main layui-clear">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">demo</li>
            </ul>
            <div class="layui-form layui-tab-content" id="LAY_ucm">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <h1 style="color: red">{{msg}}</h1>
                        <form action="{{ reverse_url("login") }}" method="post">
                            <div class="layui-form-item">
                                <label for="user_id" class="layui-form-label layui-icon layui-icon-username"></label>
                                <div class="layui-input-inline">
                                    <input type="text" id="user_id" name="user_id" required lay-verify="required" placeholder="IDを入力してください" autocomplete="off" class="layui-input">
                                </div>
                            </div>
<!--                            <div class="layui-form-item">-->
<!--                                <label for="user_password" class="layui-form-label layui-icon layui-icon-password"></label>-->
<!--                                <div class="layui-input-inline">-->
<!--                                    <input type="password" id="user_password" name="user_password" required lay-verify="required" placeholder="パスワードを入力してください" autocomplete="off" class="layui-input">-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="layui-form-item">
                                <button type="submit" class="layui-btn" lay-filter="sub" lay-submit>ログイン</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</body>
</html>

